body {
  display: flex;  /* setting "display: flex" allows its children (e.g. "main" below) to use the "flex" property */
  flex-direction: column;
  padding-top: 56px;  /* allow enough space for a fixed navbar (56px is the height of the navbar here) */
  min-height: 100vh;  /* i.e minimum width is 100% of the "viewport height"... i.e the full screen height */
  background-color: #99E8FD;
  padding-top: 55px;
 font-family: monospace;
}

main {
  flex: 1;  /* makes the <main> grow (we want it to grow so that it pushes <footer> to the bottom of page)*/
}

#carousel img {
  width: 100%;  /* fit the image within the div */
  /* FANCY ADVANCED CSS - calc():
         calculates the height of the full page (100vh)
         minus the height of the navbar (56px)
         minus the height of the second-navbar (50px)
    allocates this height to the carousel images, so that the carousel, navbar, and second-navbar can all fit on the page (regardless of screen size)
 */
  height: calc(100vh - 10px - 100px);
  object-fit: cover;  /* "object-fit" property has various options for fitting an image within a specified space (works because both the img width and height are specified) */
}

h2 {
  color: white;
  font-weight: bolder;
}



#meet-the-team img {
  width: 100%; 
  height: calc(100vh - 500px - 20px);
  object-fit: cover;  
}

#places img{
  width: 100%; 
  height: calc(100vh - 400px - 20px);
  object-fit: cover; 
}  

#shop img {
   width: 100%; 
  height: calc(100vh - 400px - 20px);
  object-fit: cover; 
}

#second-navbar {
  background-color:#99E8FD;
  display: flex;  /* unlocks "flex" property for its children (<a> tags) */
  color: white;
}
#second-navbar a {
  height: 50px;
  flex: 1;  /* all of these <a> elements will "grow" an equal amount (so they all have an equal width) */
  display: flex;  /* allows use of "justify-content" and "align-items" properties */
  justify-content: center;  /* horizontally centers the contents (the text within) */
  align-items: center; /* vertically centers the contents (the text within) */
}
#second-navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);  /* change color when hover over the link */
  t
}

.container {
  padding-top: 60px;
  padding-bottom: 30px;
}

li {
  color: white;
}

.list-group  {
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 750px;  
}

.list-group-item {
  color: #28D2FF;
}

hr {
  width: 75%;
  border: 1.5px solid white;
  border-radius: 50%;
}

#meet-the-team img{
  width: 100%;  /* fit the image within the div */
  margin: 15px 0;
}


.card {
  background-color: #28D2FF
}

.card-title {
  color: white;
  text-shadow: blue;
}

.card-text {
  color: white;
}

.card-shop {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: monospace;
  color: grey;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

footer {
  display: flex;  /* allows use of "justify-content" property */
  justify-content: center;  /* horizontally centers the contents (the social icons) */
  background-color: #99E8FD;
  height: 100px;
  padding: 20px;
}

footer a {
  margin: 5px;
  text-decoration: none!important;
}

.social-icon {
  display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
  width: 50px;
  height: 50px;
  color: #666;
  background-color: white;
  justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
  align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
  border-radius: 50%;  /* makes it round (circle if width and height are the same) */
}

.social-icon:hover {
  color: #222;  /* change color when hover over the link */
}

#go-top-button {
  width: 50px;
  height: 50px;
  display: none;  /* Hidden by default */
  position: fixed;  /* Fixed/sticky position */
  bottom: 20px;  /* Place the button 20px from the bottom of the page */
  right: 30px;  /* Place the button 30px from the right */
  z-index: 99;  /* Make sure it does not overlap */
  border-radius: 50%;  /* makes it round (circle if width and height are the same) */
}
